        /* Header */
*{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
}
.header {
    background: #C9DCEC;
    padding: 30px 0 20px;
    text-align: center;
}
.body {
    margin: 0px;
    padding: 0px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
    
}
.pageContent{
    margin-left:200px;
    margin-right:200px;
    margin-top: 30px;
}
.shopLink{
    background: #191919;
    color: white;
}
a:visited, a:hover, a:active{
    text-decoration: none;
}
        /*Top Navbar & Dropdown Cart*/
.head-left {
    float: left;
    width: 200px;
    margin-top: -10px;
    padding-left:20px;
    float: left;
}
.searchbar{
    margin-left:50px;
    width:45%;
    background: white;
    border: none;
    border-radius: 10px;
    padding: 10px 0 10px 25px;;
    float: left;
}
.searchbar input[type=search] {
    width: 90%;
    padding:0;
    border: none;
    font-size: 17px;
    display: inline-block;
}
.searchbar input[type=image] {
    width: 18px; 
}
.head-right {
    margin: 10px;
    width:30%;
    display: flex;
    flex-wrap: nowrap;
    text-align: right;
}
.head-right > .banner{
    margin-left:auto;
    color:black;
    font-size: 20px;
}
.head-right .banner > a:visited {
    color:black;
}
.banner>.btn{
    background: #0000;
    border:none;
    font-size: 20px;
}
.r-right {
    position: relative;
    display: inline-block;
}
        /*Shop Link Menu*/ 
.menu {
    margin-left: 200px;
    margin-right: 200px;
}
ul {
    list-style-type: none;
    overflow: hidden;
    padding: 15px 0px 15px 0;
    margin: 0;
    text-align: left;
    font-weight: bold;
}
li {
    display: inline-block;
    height: 10px;
    font-size: 16px;
    letter-spacing: 2px;
}
li a {
    color: white;
    padding: 0px 25px 0 0;
}
        /*Page Content*/
.pageSource a {
    color: black;
    letter-spacing: 1px;
}
.pageTitle h1 {
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;
}
.pageStock {
    display:grid;
    grid: '. . . .'
        '. . . .';
    grid-gap: 20px;
    justify-content: space-between
}
        /*Page Stock*/
.pageStock > div {
    border-style: solid;
    border-color: #EB68A6;
    border-width: 1px;
    border-radius: 4px;
    width: 200px;
    padding: 5px;
    padding-bottom: 15px;
    float: left;
    margin-bottom: 5px;
    display:table-cell;            
}   
.stockItem {
    width: 65%;
    height: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.stockName {
    font-size: 10px;
    line-height: 15px;
    padding: 10px;

}
.stockPrice {
    font-size: 12px;
    line-height: 15px;
    padding-left: 10px;
    padding-bottom:10px;
    color: #606FF6;
}
form {
    padding-left: 10px;
}
input[type=number] {
    width: 60%;
    padding-left: 5px;
    padding-top:2px;
    padding-bottom:2px;
    border-style: solid;
    border-width: 0.5px;
            
}
button[class="submit"], input[type=submit] {
    border-style: none;
    border-radius: 5px;
    background: #606FF6;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-left:5px;
    width: 30%;
    cursor: pointer;
}   